<p>route-details works! {{id}}</p>
<fieldset>
    <legend>Sélectionner le trajet que vous souhaitez faire</legend>
    departure : {{departure}}
    arrival : {{arrival}}
    <div class="slider" [style.height.px]="60*trajet.length">
        <mat-slider
            [style.width.px]="(60*trajet.length)-16"
            [style.transform]="'rotate(90deg) translateX('+(((60*trajet.length)/2)-24)+'px) translateY('+((60*trajet.length)/2)+'px)'"
            [max]="trajet.length-1"
            [min]="0"
            [step]="1"
            [showTickMarks]="true">
            <input [(ngModel)]="departure" matSliderStartThumb>
            <input [(ngModel)]="arrival" matSliderEndThumb>
        </mat-slider>
        <div class="points">
            <p *ngFor="let point of trajet; let index=index">
                {{point}}
            </p>
        </div>
    </div>

</fieldset>
