@import 'button';
@import 'card';

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    .fields {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .field {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            label {
                display: block;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: .5rem;
            }
            .input {
                transition: all .3s;
                display: flex;
                align-items: center;
                background-color: $light;
                padding-left: 10px;
                box-shadow: 0 0 10px rgba($color: $dark, $alpha: 0.2);
                border-radius: 5px;
                .icon {
                    font-size: 1.5rem;
                }
                input {
                    color: $dark;
                    flex-grow: 1;
                    font-size: 1.5rem;
                    padding: 10px;   
                    background-color: transparent;
                    border: none; 
                    outline: none;     
                }
                ::-webkit-calendar-picker-indicator {
                    display: none;
                }
            }

            &:has(input:focus) {
                color: $accent;
                .input {
                    outline: solid 2px $accent;
                }
            }
        }
    }    
}

