<div class="searchBar">
    <div>
        <input [value]="depart" placeholder="Départ" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="objDepart = handleAddressChange($event, objDepart)"/>
    </div>
    <div>
        <input [value]="depart" placeholder="Arrivé" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="objArrive = handleAddressChange($event, objArrive)"/>
    </div>

    <div>
        <input [(ngModel)]="date" type="datetime-local">
    </div>
    <button (click)="search()" class="accent">Rechercher</button>
</div>
<button (click)="logout()">Logout</button>