@import 'theme';
@import 'button';
@import 'form';

.content {
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto 100%;
    position: absolute;
    top: 0;

    app-logo {
        top: 10px;
        position: fixed;
        width: 140px;
    }
    
    .searchBar {
        margin-top: 130px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        input {
            width: 250px;
        }
    }
    
    .result {
        margin: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        app-route {
            border-radius: 8px;
            transition: all .2s;
            width: 70%;
            &:hover {
                transform: scale(1.01);
            }
        }
    }
    
    @media (min-width: 1250px) { 
        .fields {
            flex-direction: row !important;
            gap: 10px !important;
        }
    }
    
    @media (min-width: 600px) { 
    
    }
}

