<div *ngIf="route" class="card">
    <div class="trajet">
        <div class="first">
            <h2>{{route.steps[0].departTime | date:'mediumDate'}}</h2>
            <div class="description">
                <div class="hours">
                    <div>
                        <p>{{route.steps[0].departTime | date:'shortTime'}}</p>
                    </div>
                    <p>{{route.steps[0].duration | date:'shortTime'}}</p>
                    <div>
                        <p>{{getDate(1) | date:'shortTime'}}</p>
                    </div>
                    <ng-container *ngFor="let step of route.steps.slice(1), let index = index">
                        <p>{{step.duration | date:'shortTime'}}</p>
                        <div>
                            <p>{{getDate(index + 2) | date:'shortTime'}}</p>
                        </div>
                    </ng-container>
                </div>
                <div class="line"><div></div><div *ngFor="let step of route.steps"></div></div>      
                <div class="adresses">  
                    <div>
                        <p class="name">{{route.steps[0].positionDepart.address}}</p>
                        <p class="city">{{route.steps[0].positionDepart.pc}} {{route.steps[0].positionDepart.city}}</p>
                    </div>
                    <div *ngFor="let step of route.steps">
                        <p class="name">{{step.positionArrival.address}}</p>
                        <p class="city">{{step.positionArrival.pc != '0' ? step.positionArrival.pc : ''}} {{step.positionArrival.city}}</p>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="maps">
            <google-map #map [options]="options" width="500px" height="100%">
                <map-marker *ngFor="let marker of markers; let index = index" [position]="marker" [icon]="index !== markers.length-1 ? '../../../assets/images/start.svg' : '../../../assets/images/arrival.svg'">
                </map-marker>
            </google-map>
        </div>
    </div>
    <!-- <div class="passenger">
        <h3>2 Passagers</h3>
        <div>
            <div>
                <fa-icon class="icon" [icon]="faUser"></fa-icon>
                <p>Marius GAUDIN</p>
            </div>
            <div>
                <button>Valider</button>
                <button class="warn">Refuser</button>
            </div>
        </div>
        <div class="dispo">
            <div>
                <fa-icon class="icon" [icon]="faUser"></fa-icon>
                <p>Une place disponible</p>
            </div>
        </div>
    </div> -->
    
</div>
